@model Exception
@{
    ViewData["Title"] = "Ошибка";
}

<p style="font-size: 2em; font-weight: bold; color: red; margin: 10px; margin-left: 0">Произошла ошибка!</p>
<p style="font-size: medium">@Model.Message</p>
<p style="font-size: medium">Повторите действие еще раз или обратитесь к администратору системы</p>
<p>
    Время ошибки : @DateTime.Now.ToString("HH:mm")
</p>