@{
    ViewData["Title"] = "Ингосстрах жизнь - Панель управления";
}

<p style="margin: 30px; font-size: 3em; font-weight: bold; font-style: italic; color: royalblue; text-shadow: 2px 2px 2px gray">Панель управления страховыми продуктами и тарифами.</p>