@model DBModels.Models.ProductParameter

@if (Model.IsConstant)
{
    switch (Model.DataType)
    {
        case (int)DataTypes.String:
            <label asp-for="ConstantValueStr" class="control-label" style="width: 220px"></label>
            <input id="valueStr" asp-for="ConstantValueStr" onchange="SaveTempData()" style="vertical-align: top" />
            break;
        case (int)DataTypes.Number:
            <label asp-for="ConstantValueInt" class="control-label" style="float: left; width: 220px; height: 30px; margin-top: 5px"></label>
            <input id="valueInt" asp-for="ConstantValueInt" class="form-control" onchange="SaveTempData()" type="number" style="width: 60px; text-align: right" />
            break;
        case (int)DataTypes.Date:
            <label asp-for="ConstantValueDate" class="control-label" style="width: 220px"></label>
            <input id="valueDate" asp-for="ConstantValueDate" class="form-control" style="width: 160px" onchange="SaveTempData()" type="date" />
            break;
        case 0:
            <div />
            break;
    }
}
