@model IEnumerable<DBModels.Models.InsuranceRule>


<div class="form-group" style="float: left; width: 100%; margin-left: 16px">
    @foreach (var rule in Model)
    {
        <div style="float: left; margin: 2px; border: 1px solid lightgrey">
            <table id="folderItem" style="height: 90px; width: 90px">
                <tr>
                    <td>
                        <input type="checkbox" onclick="InsCheckBoxClick('@rule.Id')" style="margin: 2px; width: 16px; height: 16px" />
                        <a asp-controller="InsuranceRules" asp-action="AddRulesToTariff" asp-route-insRuleId="@rule.Id">
                            <img src="~/images/Icons/product.png" width="50" height="50" alt="Image" class="center-block" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <a asp-controller="InsuranceRules" asp-action="AddRulesToTariff" asp-route-insRuleId="@rule.Id">
                        <td style="text-align: center; vertical-align: text-top">
                            @Html.DisplayTextFor(n => rule.Name)
                        </td>
                    </a>
                </tr>
            </table>
        </div>
    }
</div>

<script>
    function InsCheckBoxClick(id) {
        $.get("/InsuranceRules/InsRuleCheckBoxClick/" + id);
    }
</script>
