@using DBModels.Models
@model RiskFactor

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
</head>

<div style="margin: 20px; margin-left: 0">
    @foreach (var ruleLink in Model.InsuranceRulesLinks)
    {
        foreach (var riskLink in ruleLink.InsRule.LinksToRisks)
        {
            var factorValue = Model.FactorValues
                .SingleOrDefault(x => x.RiskId == riskLink.RiskId && x.RiskFactorId == Model.Id && x.TariffId == ruleLink.TariffId);
            if (factorValue == null)
            {
                factorValue = new FactorValue
                {
                    RiskFactorId = Model.Id,
                    RiskId = riskLink.RiskId,
                    TariffId = ruleLink.TariffId,
                    ValidFrom = DateTime.Now,
                    ValidTo = new DateTime(2100, 1, 1)
                };
                Model.FactorValues.Add(factorValue);
            }
            <div class="form-group">
                <label class="control-label">@riskLink.Risk.Name</label>
                <input id="@factorValue.Id" asp-for="@factorValue.Value" class="form-control" style="width: 60px" onchange="UpdateValue(this)" />
                <span asp-validation-for="@factorValue.Value" class="text-danger"></span>
            </div>
        }
    }
</div>

<script>
    function UpdateValue(input) {
        $.get("/RiskFactors/UpdateFactorValue",
            {
                id: input.id,
                factorValue: $("#" + input.id).val()
            });
    }
</script>