@model List<DBModels.Models.ProductParameter>

<div id="parametersList" class="form-group" style="min-height: 200px; max-height: 300px; border: 1px lightgrey solid; padding: 1px; overflow: auto">
    @{
        var counter = 1;
    }
    @foreach (var parameter in Model.OrderBy(x => x.Order))
    {
        <a asp-controller="RiskFactors" asp-action="CreateRiskFactorFromParameter" asp-route-parameterId="@parameter.Id">
            <div class="row_div">
                <div style="float: left; position: absolute; top: 9px;">
                    <label style="margin-right: 10px">@counter.</label>
                    <label>@parameter.Name</label>
                </div>
            </div>
        </a>
        counter++;
    }
</div>
