@model DBModels.Models.FolderTreeEntry

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="partial">
        <input id="parentId" type="hidden" value="@Model.ParentFolderId" />
        <input id="controllerName" type="hidden" value="@ViewData["ControllerName"]" />
        <div style="float: left">
            <!-- кнопка Назад-->
            <a id="modalBackBtn" onclick="folderBackClick()">
                <img src="~/images/Icons/back.png" alt="Назад" style="margin-right: 10px; margin-bottom: 5px; width: 40px; height: 40px" />
            </a>
        </div>
        <div style="width: 100%; float: left">
            @foreach (var child in Model.ChildFolders)
            {
                // Папки
                <a onclick="folderClick(this)" style="float: left; margin: 2px; border: 1px solid lightgrey" id="@child.Id">
                    <table id="folderItem" style="height: 80px; width: 80px;">
                        <tr>
                            <td>
                                @if (child.ChildFolders.Any() || child.Products.Any())
                                {
                                    <img src="~/images/Icons/folder.png" width="50" height="50" alt="Image" class="center-block" />
                                }
                                else
                                {
                                    <img src="~/images/Icons/emptyfolder.png" width="50" height="50" alt="Image" class="center-block" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; vertical-align: text-top">
                                @Html.DisplayTextFor(n => child.Name)
                            </td>
                        </tr>
                    </table>
                </a>
            }
        </div>
    </div>
</body>
</html>

<script>
    function folderClick(child) {
        $.ajax({
            url: "/" + $("#controllerName").val() + "/FolderClick",
            type: "post",
            data: { id : child.id},
            success: function (result) {
                $("#partial").html(result);
            }
        });
    };
    function folderBackClick() {
        $.ajax({
            url: "/" + $("#controllerName").val() + "/OneLevelUp",
            type: "post",
            data: { destFolderId: $("#parentId").val(), returnPartial: true },
            success: function (result) {
                $("#partial").html(result);
            }
        });
    };
</script>
