@model DBModels.Models.ProductParameter

@{
    ViewData["Title"] = "Новый параметр продукта";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" />
</head>
<body>

    <h4>Параметр продукта</h4>
    <div style="margin-top: 20px">
        <div class="col-md-4">
            <form asp-action="Create" class="create_update_form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input id="name" asp-for="Name" class="form-control" onchange="SaveTempData()" style="width: 500px" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValidFrom" class="control-label" style="width: 150px"></label>
                    <input asp-for="ValidFrom" class="form-control" style="width: 160px" onchange="SaveTempData()" type="date" id="validFromDt">
                    <span asp-validation-for="ValidFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValidTo" class="control-label" style="width: 150px"></label>
                    <input asp-for="ValidTo" class="form-control" style="width: 160px" onchange="SaveTempData()" type="date" id="validToDt" />
                    <span asp-validation-for="ValidTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataType" class="control-label" style="width: 220px"></label>
                    <select id="dataType" asp-for="DataType" asp-items="Html.GetEnumSelectList<DataTypes>()" onchange="DataTypeChanged()" class="form-control" style="width: 150px"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IsRequiredForCalc" class="control-label" style="width: 220px"></label>
                    <input id="calcRequired" asp-for="IsRequiredForCalc" onchange="SaveTempData()" style="vertical-align: top" />
                </div>
                <div class="form-group">
                    <label asp-for="IsRequiredForSave" class="control-label" style="width: 220px"></label>
                    <input id="saveRequired" asp-for="IsRequiredForSave" onchange="SaveTempData()" style="vertical-align: top" />
                </div>
                <div class="form-group">
                    <label asp-for="IsConstant" class="control-label" style="width: 220px"></label>
                    <input id="isConstant" asp-for="IsConstant" onchange="IsConstantChanged()" style="vertical-align: top" />
                </div>

                <div class="form-group" id="constantValuePartial">
                    @await Html.PartialAsync("_ConstantParamValues", Model)
                </div>

                <div class="form-group">
                    <label asp-for="Order" class="control-label" style="float: left; width: 220px; height: 30px; margin-top: 5px"></label>
                    <input asp-for="Order" id="order" min="1" value="1" class="form-control" onchange="SaveTempData()" type="number" style="width: 60px; text-align: right" />
                </div>
                <div class="form-group">
                    <label asp-for="GroupId" class="control-label" style="width: 220px"></label>
                    <select asp-for="GroupId" disabled="@ViewData["IsSelectGroupDisabled"]" id="groupId" asp-items="@ViewData["ParamGroups"] as SelectList" onchange="SaveTempData()" class="form-control" style="width: 150px"></select>
                    @Html.HiddenFor(x => x.GroupId)
                </div>
                <h4 style="margin-top: 50px; color: red">
                    Добавление лимита будет доступно после сохранения параметра продукта
                </h4>
                <div class="form-group">
                    <input type="submit" value="Создать" name="create" class="btn btn-default" style="float: left" />
                    <input type="submit" value="Создать и выйти" name="createAndExit" class="btn btn-default" style="float: left; margin-left: 5px; margin-right: 5px" />
                    <a onclick="GoBack()">
                        <input class="btn btn-default" value="Отменить и выйти" />
                    </a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
<script>
    function SaveTempData() {
        $.ajax({
            url: "/ProductParameters/SaveTempData",
            type: "post",
            data: {
                dataType: $("#dataType").val(),
                name: $("#name").val(),
                dateFrom: $("#validFromDt").val(),
                dateTo: $("#validToDt").val(),
                requiredForSave: $("#saveRequired").val(),
                requiredForCalc: $("#calcRequired").val(),
                groupId: $("#groupId").val(),
                order: $("#order").val(),
                isConstant: $("#isConstant").val(),
                valueStr: $("#valueStr").val(),
                valueInt: $("#valueInt").val(),
                valueDate: $("#valueDate").val()
            },
            success: function () { }
        });
    }

    function IsConstantChanged() {
        SaveTempData();
        $.get("/ProductParameters/ClearConstantValues");
        UpdateConstantPartial();
    }

    function ConstValuesVisibility() {
        var isConstant = $("#isConstant").prop("checked");

        if (isConstant === true) {
            $("#constantValuePartial").show();
        } else {
            $("#constantValuePartial").hide();
        }
    }

    function DataTypeChanged() {
        SaveTempData();
        UpdateConstantPartial();
    }

    function UpdateConstantPartial() {
        $.ajax({
            url: "/ProductParameters/UpdateConstantValuesView",
            type: "post",
            success: function (result) {
                $("#constantValuePartial").html(result);
                ConstValuesVisibility();
            }
        });
    }

    function GoBack() {
        javascript: history.go(-1);
    }
</script>
