@model IGSLControlPanel.Models.ProductParameter

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>Параметр продукта</h4>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label">Название</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-weight: normal">
                        Тип данных <select asp-for="DataType" asp-items="Html.GetEnumSelectList<DataTypes>()" style="margin-left: 5px"></select>
                    </label>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsRequiredForCalc" /> Обязателен для расчета
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsRequiredForSave" /> Обязателен для сохранения
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label style="font-weight: normal">
                            Порядковый номер в списке <input asp-for="Order" min="0" type="number" style="width: 60px; text-align: right" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Лимиты значений 
                        <a asp-controller="ValueLimits" asp-action="Create">
                            <img src="~/images/Icons/add_param.png" alt="Назад" style="margin: 2px; margin-left: 28px; width: 25px; height: 25px" />
                        </a>
                        <a asp-controller="Products" asp-action="OneLevelUp">
                            <img src="~/images/Icons/edit_param.png" alt="Назад" style="margin: 2px; width: 25px; height: 25px" />
                        </a>
                        <a asp-controller="Products" asp-action="OneLevelUp">
                            <img src="~/images/Icons/del_param.png" alt="Назад" style="margin: 2px; width: 25px; height: 25px" />
                        </a>
                    </label>
                    @await Html.PartialAsync("_ParamLimitBlock", Model)
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                    <input type="button" class="btn btn-default" onclick="GoBack()" value="Не сохранять" />
                </div>
            </form>
        </div>
    </div>

</body>
</html>
<script>
    function GoBack() {
        javascript: history.go(-1);
    }
</script>
