@model DBModels.Models.LimitListItem

@{
    ViewData["Title"] = "Редактирование";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <h4>Элемент списка</h4>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" style="width: 600px" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Value" class="control-label"></label>
            <input asp-for="Value" class="form-control" style="width: 300px" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 50px">
            <input type="submit" value="Сохранить" name="save" class="btn btn-default" />
            <input type="submit" value="Сохранить и выйти" name="saveAndExit" class="btn btn-default" />
            <a asp-action="GoBack" asp-route-limitId="@Model.ValueLimitId">
                <input type="button" class="btn btn-default" style="width: 200px" value="Выйти без сохранения" />
            </a>
        </div>
        @Html.HiddenFor(x => x.ValueLimitId)
        @Html.HiddenFor(x => x.ValidTo)
        @Html.HiddenFor(x => x.ValidFrom)
    </form>

</body>
</html>
