@model IGSLControlPanel.Models.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Новый продукт</title>
</head>
<body>
<div class="row">
    <form asp-action="Edit" style="min-width: 700px; margin-bottom: 70px; margin-top: 30px">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" style="width: 600px">
            <label class="control-label">Название продукта</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" style="width: 150px">Действителен с</label>
            <input asp-for="ValidFrom" type="date" id="validFromDt">
            <span asp-validation-for="ValidFrom" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" style="width: 150px">Действителен по</label>
            <input asp-for="ValidTo" type="date" id="validToDt" />
            <span asp-validation-for="ValidTo" class="text-danger"></span>
        </div>
        <div>
            <label class="control-label">Параметры продукта</label>
        </div>
        <a>
            <img src="~/images/Icons/add_param.png" alt="Добавить параметр" style="margin-bottom: 5px; margin-top: 10px; width: 30px; height: 30px" />
        </a>

        <div class="form-group" style="height: 400px; border: 1px lightgrey solid; padding: 1px">
            @{
                var counter = 1;   
            }
            @foreach (var link in Model.LinkToProductParameters)
            {
                <div style="width: 100%; height: 40px; border: 1px lightgrey solid; background: lavender; padding-left: 10px; padding-right: 10px; position: relative">
                    <div style="float: left; position: absolute; top: 9px;">
                        <label style="margin-right: 10px">@counter.</label>
                        <label>@link.Parameter.Name</label>
                    </div>
                    <div style="position: absolute; right: 10px; top: 5px">
                        <a>
                            <img src="~/images/Icons/edit_param.png" alt="Создать папку" style="width: 30px; height: 30px"/>
                        </a>
                        <a style="margin-left: 10px;">
                            <img src="~/images/Icons/del_param.png" alt="Создать папку" style="width: 30px; height: 30px"/>
                        </a>
                    </div>
                </div>
                counter++;
            }
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить изменения" class="btn btn-default" />
        </div>
    </form>
</div>
</body>
</html>
