@model IGSLControlPanel.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Новый продукт</title>
</head>
<body>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Products" asp-action="CreateProductSubmit" asp-route-folderId="@Model.FolderId" asp-route-name="@Model.Name">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

</body>
</html>
