@using DBModels.Models
@model Product
@{
    ViewData["Title"] = "Редактирование продукта";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" type="text/css" />
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<!-- диалог для перемещения объектов -->
<div id="addGroupModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Выберите группу</h4>
            </div>
            <form>
                <div class="form-group" style="float: left; width: 95%; margin-right: 16px; margin-left: 16px">
                    @await Html.PartialAsync("_GroupSelectView", ViewData["GlobalGroups"])
                </div>

                <div class="form-group" style="margin-left: 18px;">
                    <button id="addGroupOkBtn" type="submit" class="btn btn-primary">Выбрать</button>
                    <button id="addGroupCancelBtn" type="button" class="btn btn-primary">
                        Отмена
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<form asp-action="Edit" asp-controller="Products" class="create_update_form">
    <input id="modelId" type="hidden" value="@Model.Id"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group" style="width: 600px">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ValidFrom" class="control-label" style="width: 150px"></label>
        <input asp-for="ValidFrom" class="form-control" style="width: 160px" type="date" id="validFromDt">
        <span asp-validation-for="ValidFrom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ValidTo" class="control-label" style="width: 150px"></label>
        <input asp-for="ValidTo" class="form-control" style="width: 160px" type="date" id="validToDt"/>
        <span asp-validation-for="ValidTo" class="text-danger"></span>
    </div>
    <hr/>
    <h3 class="control-label" style="margin-bottom: 20px">Параметры продукта</h3>
    <div>
        <a id="addGroupModalBtn">Добавить группу</a>
    </div>
    <div id="groupsPartial">
        @await Html.PartialAsync("_ParameterGroupsBlock", Model)
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" name="save" class="btn btn-default"/>
        <input type="submit" value="Сохранить и выйти" name="saveAndExit" class="btn btn-default"/>
        <button class="btn btn-default" style="width: 200px" asp-controller="Products" asp-action="Index" asp-route-id="@Model.FolderId">Выйти без сохранения</button>
    </div>
</form>
</body>
</html>

<script>
    $("#addGroupModalBtn").click(function () {
        $("#addGroupModal").modal('show');
    });
    $("#addGroupOkBtn").click(function () {
        $.ajax({
            url: "/ParameterGroups/AttachGroup",
            type: "post",
            data: { productId: $("#modelId").val() },
            success: function (result) { $("#groupsPartial").html(result);}
        });
        $("#addGroupModal").modal('hide');
    });
    $("#addGroupCancelBtn").click(function () {
        $("#addGroupModal").modal('hide');
    });
</script>