@model IGSLControlPanel.Models.FolderTreeEntry

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css.map" />
</head>
<body>
@foreach (var child in Model.ChildFolders)
{
    <a asp-controller="Products" asp-action="FolderDetails" asp-route-id="@child.Id" style="float: left; margin: 2px; border: 1px solid lightgrey">
        <table id="folderItem" ondblclick="" style="height: 90px; width: 90px">
            <tr>
                <td>
                    @if (child.ChildFolders.Any() || child.Products.Any())
                    {
                        <img src="~/images/Icons/folder.png" width="50" height="50" alt="Image" class="center-block"/>
                    }
                    else
                    {
                        <img src="~/images/Icons/emptyfolder.png" width="50" height="50" alt="Image" class="center-block"/>
                    }
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: text-top">
                    @Html.DisplayTextFor(n => child.Name)
                </td>
            </tr>
        </table>

    </a>
}
@foreach (var p in Model.Products)
{
    <a style="float: left; margin: 2px; border: 1px solid lightgrey">
        <table id="folderItem" ondblclick="" style="height: 90px; width: 90px">
            <tr>
                <td>
                    <img src="~/images/Icons/product.png" width="50" height="50" alt="Image" class="center-block"/>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; vertical-align: text-top">
                    @Html.DisplayTextFor(n => p.Name)
                </td>
            </tr>
        </table>
    </a>
}
</body>
</html>
