@model IGSLControlPanel.Models.FolderTreeEntry

@{
    ViewData["Title"] = "Продукты";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css.map" />
</head>
<body>
    <p>
        <a asp-action="Create">Новая папка</a>
    </p>
    <div style="width: 100%; border: 1px gray groove; min-height: 600px;">
        @if (Model.ChildFolders.Any() || Model.Products.Any())
        {
            @await Html.PartialAsync("FolderDetails", Model)
        }
    </div>
</body>
</html>

