@model DBModels.Models.InsuranceRule

@{
    ViewData["Title"] = "Новое правило страхования";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" />
</head>
<body>

    <h4>Правило страхования</h4>
        <form asp-action="Create" class="create_update_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" style="width: 600px"></label>
                <input id="name" asp-for="Name" class="form-control" style="width: 400px" onchange="SaveTempData()" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <h4 class="on_create_warn">
                Добавление рисков будет доступно после сохранения правила страхования
            </h4>
            <div class="form-group">
                <input type="submit" value="Создать" name="create" class="btn btn-default" style="float: left" />
                <input type="submit" value="Создать и выйти" name="createAndExit" class="btn btn-default save_and_exit_btn" />
                <a asp-action="GoBack">
                    <input class="btn btn-default" value="Отменить и выйти" />
                </a>
            </div>
        </form>
</body>
</html>

<script>
    function SaveTempData() {
        $.ajax({
            url: "/InsuranceRules/SaveTempData",
            type: "post",
            data: { name: $("#name").val() },
            success: function () { }
        });
    }
</script>