@model IGSLControlPanel.Models.InsuranceRule

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Вы действительно хотите удалить это правило страхования?</h3>
    <div class="row">
        <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" disabled="disabled" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
        </div>
    </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-default" />
            <input type="button" class="btn btn-default" onclick="GoBack()" value="Отменить удаление" />
        </form>
</body>
</html>

<script>
    function GoBack() {
        javascript: history.go(-1);
    }
</script>