@model DBModels.Models.Tariff

@{
    ViewData["Title"] = "Редактирование тарифа";
    ViewData["TariffId"] = Model.Id;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css.map" />
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
</head>

<h2>Редактирование тарифа</h2>
<div id="selectRuleModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Выберите правила страхования</h4>
            </div>
            <form asp-controller="InsuranceRules" asp-action="AddRulesToTariff">
                @await Html.PartialAsync("_InsuranceRulesSelectView", Model.InsRuleTariffLink.Select(x => x.InsRule))

                <div class="form-group" style="margin-left: 18px;">
                    <button id="ruleOkBtn" type="submit" class="btn btn-primary">Выбрать</button>
                    <button id="ruleCancelBtn" type="button" class="btn btn-primary">
                        Отмена
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="selectFactorModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Выберите факторы риска</h4>
            </div>
            <form>
                @await Html.PartialAsync("_RiskFactorsSelectView", Model.RiskFactorsTariffLinks.Select(x => x.RiskFactor))

                <div class="form-group" style="margin-left: 18px;">
                    <button id="factorOkBtn" type="submit" class="btn btn-primary" asp-controller="RiskFactors" asp-action="AddFactorsToTariff">Выбрать</button>
                    <button id="factorCancelBtn" type="button" class="btn btn-primary">
                        Отмена
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="margin-top: 20px">
    @if (Model.RiskFactorsTariffLinks.Count > 0)
    {
        <a asp-controller="Tariffs" asp-action="CreateExcelFile" style="margin-right: 50px">Скачать шаблон Excel</a>
        <a asp-controller="Tariffs" asp-action="GoToUploadPage">Загрузить файл на сервер</a>
    }
</div>

<div>
    <form asp-action="Edit" class="create_update_form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group" style="width: 600px">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ValidFrom" class="control-label"></label>
            <input asp-for="ValidFrom" class="form-control" style="width: 160px" />
            <span asp-validation-for="ValidFrom" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ValidTo" class="control-label"></label>
            <input asp-for="ValidTo" class="form-control" style="width: 160px" />
            <span asp-validation-for="ValidTo" class="text-danger"></span>
        </div>

        <h3>Правила страхования</h3>
        <div style="float: left">
            <a asp-controller="InsuranceRules" asp-action="Create" style="font-size: 0">
                <img src="~/images/Icons/add_param.png" alt="Добавить параметр" class="small-button-img" style="margin-bottom: 5px; margin-top: 10px" />
            </a>
        </div>
        <div>
            <!-- кнопка выбора правила -->
            <a id="selectInsRuleBtn" href="#" style="font-size: 0">
                <img src="~/images/Icons/folderadd.png" alt="Создать папку" style="margin: 10px; margin-top: 5px; width: 40px; height: 40px" />
            </a>
        </div>
        @await Html.PartialAsync("_InsuranceRulesBlock", Model.InsRuleTariffLink)

        <h3>Факторы риска</h3>
        <div style="float: left">
            <a asp-controller="RiskFactors" asp-action="Create" style="font-size: 0">
                <img src="~/images/Icons/add_param.png" alt="Добавить новую запись" class="small-button-img" style="margin-bottom: 5px; margin-top: 10px" />
            </a>
        </div>
        <div>
            <!-- кнопка выбора фактора -->
            <a id="selectFactorBtn" style="font-size: 0">
                <img src="~/images/Icons/folderadd.png" alt="Выбор существующей" style="margin: 10px; margin-top: 5px; width: 40px; height: 40px" />
            </a>
            <a asp-controller="Tariffs" asp-action="CreateFactorFromParameterView">Фактор риска из параметра</a>
        </div>
        @await Html.PartialAsync("_RiskFactorsBlock", Model.RiskFactorsTariffLinks)

        <div class="form-group" style="margin-top: 50px">
            <input type="submit" value="Сохранить" name="save" class="btn btn-default" style="float: left" />
            <input type="submit" value="Сохранить и выйти" name="saveAndExit" class="btn btn-default save_and_exit_btn" />
            <div>
                <button class="btn btn-default" style="width: 200px" asp-controller="Tariffs" asp-action="Index" asp-route-parentid="@Model.FolderId">Выйти без сохранения</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#selectInsRuleBtn").click(function () {
            $("#selectRuleModal").modal('show');
        });
        $("#ruleOkBtn").click(function () {
            $("#selectRuleModal").modal('hide');
        });
        $("#ruleCancelBtn").click(function () {
            $("#selectRuleModal").modal('hide');
        });

        $("#selectFactorBtn").click(function () {
            $("#selectFactorModal").modal('show');
        });
        $("#factorOkBtn").click(function () {
            $("#selectFactorModal").modal('hide');
        });
        $("#factorCancelBtn").click(function () {
            $("#selectFactorModal").modal('hide');
        });
    });
</script>