@using DBModels.Models
@model Risk

@{
    ViewData["Title"] = "Новый риск";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/css/site.css" />
</head>

<h2>Новый риск</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Risks" asp-action="Create" asp-route-insRuleId="@ViewData["InsRuleId"]" asp-route-tariffId="@ViewData["TariffId"]" class="create_update_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidFrom" class="control-label"></label>
                <input asp-for="ValidFrom" class="form-control" style="width: 160px"/>
                <span asp-validation-for="ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidTo" class="control-label"></label>
                <input asp-for="ValidTo" class="form-control" style="width: 160px"/>
                <span asp-validation-for="ValidTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseTariffType" class="control-label"></label>
                <select asp-for="BaseTariffType" asp-items="Html.GetEnumSelectList<BaseTariffTypes>()" class="form-control" style="width: 250px"></select>
                <span asp-validation-for="BaseTariffType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseTariffValue" class="control-label"></label>
                <input asp-for="BaseTariffValue" class="form-control" style="width: 100px"/>
                <span asp-validation-for="BaseTariffValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" style="float: left">Обязателен</label>
                <input asp-for="OnCreateRequired" style="margin-left: 20px" />
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default"/>
                <input type="button" class="btn btn-default" onclick="GoBack()" value="Отменить и выйти"/>
            </div>
        </form>
    </div>
</div>

<script>
    function GoBack() {
        javascript: history.go(-1);
    }
</script>