@model DBModels.Models.Risk

@{
    ViewData["Title"] = "Редактирование риска";
    var requirement = Model.Requirements.SingleOrDefault(x => x.TariffId == (Guid)ViewData["TariffId"]);
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" />
</head>
<h2>Риск</h2>
<form asp-action="Edit" class="create_update_form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" style="width: 500px" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ValidFrom" class="control-label"></label>
        <input asp-for="ValidFrom" class="form-control" style="width: 160px" />
        <span asp-validation-for="ValidFrom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ValidTo" class="control-label"></label>
        <input asp-for="ValidTo" class="form-control" style="width: 160px" />
        <span asp-validation-for="ValidTo" class="text-danger"></span>
    </div>
    @if (requirement != null)
    {
        <input id="reqStartValue" type="hidden" asp-for="@requirement.IsRequired"/>
        <input id="reqId" type="hidden" asp-for="@requirement.Id"/>
        @await Html.PartialAsync("_RequirementBlock", requirement)
    }
    <div class="form-group" style="margin-top: 50px">
        <input type="submit" value="Сохранить" name="save" class="btn btn-default" />
        <input type="submit" value="Сохранить и выйти" name="saveAndExit" class="btn btn-default" />
        <input type="button" class="btn btn-default" style="width: 200px" onclick="GoBack()" value="Выйти без сохранения" />
    </div>
</form>

<script>
    function GoBack() {
        $.ajax({
            url: "/Risks/UpdateRequirement",
            type: "post",
            data: {
                reqId: $("#reqId").val(),
                required: $("#reqStartValue").val()
            }
        });
        javascript: history.go(-1);
    };
</script>
