@model DBModels.Models.ValueLimit
@{
    ViewData["Title"] = "Ограничение значений параметра";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" />
</head>
<body>
    <h4 style="margin: 20px; margin-left: 0">Ограничение значений параметра</h4>
    <form asp-action="Create" class="create_update_form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ParameterDataType" class="control-label"></label>
            <select asp-for="ParameterDataType" disabled="disabled" asp-items="Html.GetEnumSelectList<DataTypes>()" class="form-control" style="width: 150px"></select>
        </div>
        @if (Model.ParameterDataType == (int)DataTypes.Дата)
        {
            <div class="form-group">
                <label asp-for="DateValueFrom" class="control-label"></label>
                <input asp-for="DateValueFrom" class="form-control" style="width: 150px" />
                <span asp-validation-for="DateValueFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateValueTo" class="control-label"></label>
                <input asp-for="DateValueTo" class="form-control" style="width: 150px" />
                <span asp-validation-for="DateValueTo" class="text-danger"></span>
            </div>
        }
        else if (Model.ParameterDataType == (int)DataTypes.Число)
        {
            <div class="form-group">
                <label asp-for="IntValueFrom" class="control-label"></label>
                <input asp-for="IntValueFrom" class="form-control" style="width: 80px" />
                <span asp-validation-for="IntValueFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntValueTo" class="control-label"></label>
                <input asp-for="IntValueTo" class="form-control" style="width: 80px" />
                <span asp-validation-for="IntValueTo" class="text-danger"></span>
            </div>
        }
        @Html.HiddenFor(x => x.ParameterId)
        @Html.HiddenFor(x => x.ProductId)
        <div class="form-group" style="margin-top: 50px">
            <input type="submit" value="Создать" class="btn btn-default" />
            <input type="button" class="btn btn-default" onclick="GoBack()" value="Отменить и выйти" />
        </div>
    </form>

</body>
</html>
<script>
    function GoBack() {
        javascript: history.go(-1);
    }
</script>
