@model DBModels.Models.ValueLimit
@{
    ViewData["Title"] = "Редактирование лимита";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" />
</head>
<body>

    <h4>Ограничение значений параметра</h4>
    <form asp-action="Edit" class="create_update_form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Название</label>
            <input id="name" asp-for="Name" class="form-control" onchange="SaveTempData()" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Тип данных</label>
            <select id="dataType" onchange="SaveTempData()" asp-for="ParameterDataType" disabled="disabled" asp-items="Html.GetEnumSelectList<DataTypes>()" class="form-control" style="width: 150px"></select>
        </div>
        @if (Model.ParameterDataType == (int)DataTypes.Date)
        {
            <div class="form-group">
                <label asp-for="DateValueFrom" class="control-label"></label>
                <input id="dateMin" asp-for="DateValueFrom" class="form-control" style="width: 150px" onchange="SaveTempData()" />
                <span asp-validation-for="DateValueFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateValueTo" class="control-label"></label>
                <input id="dateMax" asp-for="DateValueTo" class="form-control" style="width: 150px" onchange="SaveTempData()" />
                <span asp-validation-for="DateValueTo" class="text-danger"></span>
            </div>
        }
        else if (Model.ParameterDataType == (int)DataTypes.Number)
        {
            <div class="form-group">
                <label class="control-label">Конечное значение</label>
                <input id="intMin" asp-for="IntValueFrom" class="form-control" style="width: 80px" onchange="SaveTempData()" />
                <span asp-validation-for="IntValueFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Начальное значение</label>
                <input id="intMax" asp-for="IntValueTo" class="form-control" style="width: 80px" onchange="SaveTempData()" />
                <span asp-validation-for="IntValueTo" class="text-danger"></span>
            </div>
        }
        else if (Model.ParameterDataType == (int)DataTypes.List)
        {
            @Html.LabelFor(x => Model.LimitListItems, new { style = "margin-right: 50px; margin-top: 20px; vertical-align: bottom" })

            <a asp-controller="LimitListItems" asp-action="Create" asp-route-limitId="@Model.Id" onclick="SaveTempData()" style="font-size: 0">
                <img src="~/images/Icons/add_param.png" alt="Добавить параметр" class="small-button-img" />
            </a>

            @await Html.PartialAsync("_LimitListItemsBlock", Model.LimitListItems.Where(x => !x.IsDeleted).ToList())
        }
        else if (Model.ParameterDataType == (int)DataTypes.String)
        {
            <div class="form-group">
                <label asp-for="StringValue" class="control-label"></label>
                <input id="strValue" asp-for="StringValue" class="form-control" style="width: 600px" />
                <span asp-validation-for="StringValue" class="text-danger"></span>
            </div>
        }
        @Html.HiddenFor(x => x.ParameterId)
        @Html.HiddenFor(x => x.ProductId)
        <div class="form-group" style="margin-top: 50px">
            <input type="submit" value="Сохранить" name="save" class="btn btn-default" />
            <input type="submit" value="Сохранить и выйти" name="saveAndExit" class="btn btn-default save_and_exit_btn" />
            <a asp-action="GoBack">
                <input class="btn btn-default" value="Отменить и выйти" />
            </a>
        </div>
    </form>
</body>
</html>
<script>
    function SaveTempData() {
        $.ajax({
            url: "/ValueLimits/SaveTempData",
            type: "post",
            data: {
                dataType: $("#dataType").val(),
                name: $("#name").val(),
                dateMin: $("#dateMin").val(),
                dateMax: $("#dateMax").val(),
                intMin: $("#intMin").val(),
                intMax: $("#intMax").val(),
                strValue: $("#strValue").val()
            },
            success: function () { }
        });
    }
</script>